/*
The underscore indicates that the file is only a partial, so Sass will not compile it into its own CSS file.
*/
@use "../util";

html {
  box-sizing: border-box;
  font-size: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: util.$font;
  color: var(--text-color);
  background-color: var(--background-color);
}

h1, h2, h3 {
  margin-top: 0;
  font-weight: 700;
  line-height: 1.1;
}

p {
  margin-top: 0;
}

a,
a:visited,
a:active {
  text-decoration: none;
}
